
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.logo {
  width: 100px;
  height: 120px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  align-items: center;
}

nav {
  background-color: #f79a5bcc;
  justify-content: space-between;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

nav ul li a {
  text-decoration: none;
  font-family: "Playfair DisplayI" ,Figtree, Verdana, Exo 2;
  color: 973131/*ganti warna teks nav bar*/
  font-weight: 600;
  padding: 8px;
}

.scroll-container {
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  padding: 50px;
  gap: 2rem;
}
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image {
  position: relative;
  height: 170px;
  width: 170px;
  border-radius: 20px;
  background-color:#FA4032;
  padding: 2px;
  margin-bottom: 10px;
}

.profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  align-items: center;
  border: 2px solid #fff;
}
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.text-data .name {
  font-size: 22px;
  font-weight: 500;
}
.text-data .job {
  font-size: 15px;
  font-weight: 400;
  align-content: center;
  padding-top: 2px;
}
.text-data .jobdesk {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}
.container {
  padding: 90px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #FA4032;
}
